# Supabase — Project Settings > API
NEXT_PUBLIC_SUPABASE_URL=https://dfbczuzxgczwrihpuefo.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRmYmN6dXp4Z2N6d3JpaHB1ZWZvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc5MTY3MjksImV4cCI6MjA5MzQ5MjcyOX0.1fCZWKclFoF-ksjMw9hv7ClRetuKQLtxbkWcSP8yfMs

# Supabase — Project Settings > API > service_role (RAHASIA, hanya di server)
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRmYmN6dXp4Z2N6d3JpaHB1ZWZvIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzkxNjcyOSwiZXhwIjoyMDkzNDkyNzI5fQ.-QQ9IO55oDey2EvMah_NVJD6R1PM_t0v1KO9FPuEZY8
# URL situs (untuk metadata & redirect)
NEXT_PUBLIC_SITE_URL=http://localhost:3000
